<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HR Application</title>
</head>
<body>
<h1>List of Employees</h1>

<table border>
	<thead>
	<tr>
		<th>Id
		<th>Name
		<th>Position
		<th>Salary
		<th>Entry date
	<tbody>
		<tr th:each="employee : ${employees}">
			<td th:text="${employee.identifier}">Id
			<td><a th:href="@{'/update?id='+${employee.identifier}}" th:text="${employee.name}"></a>
			<td th:text="${employee.position}">Position
			<td th:text="${employee.salary}">Salary
			<td th:text="${employee.yearInWork}">EntryDate
			<td><a th:href="@{'/deleteEmployee?mid='+${employee.identifier}}">DELETE</a>
	</table>
	<br><br>

	<form th:action="@{/listEmployee}" method="post" th:object="${newEmployee}">
		Identifier: <input th:field="*{identifier}" /><br/>
		Name: <input th:field="*{name}" /><br/>
		Position: <input th:field="*{position}" /><br/>
		Salary: <input th:field="*{salary}" /><br/>
		Start the Work (yyyy.MM.dd. HH:mm:ss): <input th:field="*{yearInWork}" /><br/>
		<input type="submit" value="Add" />
	</form>
</body>
</html>